{% extends 'index.html' %}
{% load static %}

{% block title %} news {% endblock %}
{% block style %}
<style>
    li{
        list-style: none;
    }

    .category{
        border-bottom: 2px solid red;
        display: inline-block;
        text-transform: uppercase;
    }
</style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            {% for news in todays_news %}
            <div class="col-md-4 m-3" >
                <h3 class="text-danger category">{{ news.category.Category_name}}</h3>
                <ul>
                    {% for newses in news.news %}
                        <li class="m-2"><a href="{% url 'full_news' slug=newses.slug id=newses.id %}"> {{ newses.headline }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}