<!doctype html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <title>{% block title %} News {% endblock %}</title>
  {% block style %}{% endblock %}
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mx-auto" href="#">
      <!-- <img src="" width="50" height="50" style="object-fit: cover;" alt=""> -->

    </a>
    <button class="navbar-toggler float-left" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="border:none;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row col-12">
      <div class="collapse navbar-collapse col-md-6  ml-auto" id="navbarNav">
        <ul class="navbar-nav text-center col-md-6 ml-auto">

          <li class="nav-item active">
            <a class="nav-link" href="/add-news/">Add news<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/my-all-news/">My all news<span class="sr-only">(current)</span></a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown col-md">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="#" id="navprofile" class="rounded-circle" width="30" height="30">
              <span>{{request.user}}</span>
            </a>
            <div class="dropdown-menu text-center col-md-12 col-6 mx-auto" aria-labelledby="navbarDropdown2">
              <a class="dropdown-item " href="#" data-toggle="modal" data-target="#exampleModalCenter">Update
                profile</a>
              <a class="dropdown-item " href="/my-all-news/">My all news</a>
              <!-- <a class="dropdown-item " href="#"></a> -->
              <!-- <a class="dropdown-item " href="#">Maxpain</a> -->
              <a href="/logout" class="link text-danger">logout</a href="/logout">

            </div>
          </li>
          {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="/login/">Login<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/signup/">Register<span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
          <!-- <li class="nav-item active">
                      <a class="nav-link" href="#contact">Contact us</a>
                  </li> -->

        </ul>
      </div>

    </div>
  </nav>
  <div class="col-12 mx-auto row">

    <div class="container">
      {% block body %} {% endblock %}

    </div>
    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="profile-form" enctype="multipart/form-data">
              <div class="ca-profile-thumb" style="height: auto;">
                <div class="ca-profile-info">
                  <div class="ca-profile-pic text-center">
                    <input type="file" class="sr-only" id="profile_pic" name="profile_pic">
                    <input type="hidden" id="hinnden" name="profilePic">
                    <img id="previewImg" class="img-fluid" src="#" alt="profile pic"
                      style="height: inherit; width: inherit; object-fit: cover;">
                      <span id="image" class="material-icons" style="cursor: pointer;">
                        edit
                        </span>
                        <span id="remove" class="btn hide">
                        <span  class="material-icons hide" style="cursor: pointer;">
                          delete_outline
                          </span>
                        </span>
                  </div>
                  <div class="ca-profile-title">

                  </div>
                </div>
                <div class="ca-profile-actions">
                  <div class="iconbox-group">
                    <label for="profile_pic" class="iconbox mfb-component__button--main ion-plus-round">
                      <i class="iconbox__icon mdi mdi-camera" style="
                          padding-top: 10px;
                          padding-left: 9px;
                      "></i>
                    </label>
                  </div>
                </div>
                <div class="ca-overlay"></div>
              </div>
              <div class="card mt-5">
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="full_name" class="form-control-label">First Name</label>
                      <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Your First Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="full_name" class="form-control-label">Last Name</label>
                      <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Your Last Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="email" class="form-control-label">Email</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Your Email Address">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="dob" class="form-control-label">DOB</label>
                      <input type="date" class="form-control" id="dob" name="dob" placeholder="Your Date of Birth">
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-active btn-primary btn-block"
                      style="width:100%; border-radius:20px">
                      Update Profile
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
    integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
    integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="{% static 'js/toaster.js' %}"></script>
  {% block script %} {% endblock %}
  <script>
    let profilPic = true;

    let hide_id = '#remove';
    let show_id = '#image'
    function readURLs(input, id) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
      $(id).attr('src', e.target.result);
      $(hide_id).addClass('show')
      $(show_id).addClass('hide');
      let temp = hide_id;
      hide_id = show_id;
      show_id = temp;
    }
    
    reader.readAsDataURL(input.files[0]); // convert to base64 string
  }
}

$("#profile_pic").change(function() {
  readURLs(this, '#previewImg');
});


$("#image").click(function() {
  
  $("#profile_pic").trigger('click'); 
});

$('#remove').click(function(){
  console.log('click')
  $('#profile_pic').val('');
  $('#previewImg').attr('src', '')
  $('#remove').hide()
  $('#hinnden').val('False')
})


function getMyProfileData(){
  $.ajax({
    url: '/api/userData/',
    method: 'GET',
    contentType: 'application/json'
  }).done((res)=>{
    res = JSON.parse(res)
    $('#first_name').val(res['first_name'])
    $('#previewImg').attr('src', res['profile_pic'])
    $('#navprofile').attr('src', res['profile_pic'])
    if(res['profile_pic'] == ''){
      $('#remove').hide()
      $('#navprofile').hide()
      $('#hinnden').val('False')
    }
    else{
      $('#hinnden').val('True')
    }
    $('#last_name').val(res['last_name'])
    $('#email').val(res['email'])
    $('#dob').val(res['dob'])
    // let form = document.getElementById('profile-form')
    // formDeserialize(form, res)
  }).fail((err)=>{
    console.log(err)
  })
}

getMyProfileData()

$('#profile-form').submit(function(e){
  e.preventDefault()
  e.stopImmediatePropagation();

  let data  = new FormData(document.getElementById('profile-form'));
  $.ajax({
    url: '/update/profile/',
    method: 'POST',
    data: data,
    contentType: false,
    processData: false
  }).done((res)=>{
    console.log(res)
    $.toaster({ message : 'Profile updated', title : 'Success', priority : 'success' });
  }).fail((err)=>{
    console.log(err)
  })
})
  
  </script>
</body>

</html>